---
---

@import "base/variables";
@import "base/code";
@import "base/base";
@import "layout/default";
@import "layout/home";
@import "layout/post";
@import "components/social-icons";

// Example usage
body {
  font-family: $sans-serif-font-family;
  color: $body-color;
}

header {
  margin-bottom: 2rem;
}

footer {
  margin-top: 2rem;
}
